*,
*::before,
*::after {
	box-sizing: border-box; 
}

body {
	color: #fff;
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
}

body.no-scroll {
	overflow: hidden;
}

p, h1, h2, h3 {
	letter-spacing: -0.03em;
}

/* Container */

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1183px;
	width: 100%;
}

/* Header */

.header {
	position: relative;
	background: url(../img/stol-noutbuk-monitor-klaviatura-banka-karandashi-chashka-kni.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 765px;
}

.header::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #303030;
	opacity: .6;
	z-index: 2;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 27px;
	position: relative;
	z-index: 10; 
}

.header__text {
	margin-bottom: 29px;
	max-width: 430px;
	font-size: 20px;
	line-height: 26px;
}

.header__content {
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: 249px 0 94px;
	max-width: 912px;
}

.header__suptitle, 
.header__title {
	max-width: 919px;
	font-size: 80px;
	line-height: 70px;
	font-weight: 700;
}

.header__suptitle {
	margin-bottom: 20px;
}

.header__title span {
	color: #fcac45;
}

/* Main */

.main {
	background-color: #000;
}

/* Nav */

.nav {
	display: flex;
}

.nav__link {
	margin-right: 50px;
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	transition: color .2s linear;
	position: relative;
}

.nav__link:last-child {
	margin-right: 0;
}

.nav__link::after {
	content: "";
	height: 3px;
	width: 0;
	background-color: #fcac45;
	position: absolute;
	bottom: -10px;
	left: 0;
	z-index: 1;
	transition: width .2s linear;
}

.nav__link:focus {
	outline: none;
}

.nav__link:hover,
.nav__link:focus {
	color: #fcac45;
}

.nav__link:hover::after {
	width: 100%;
}

/* Section */

.section {
	padding-bottom: 150px;
}

.section:first-child {
	padding: 150px 0;
}

.section__contacts {
	padding: 100px;
	position: relative;
	width: 100%;
	height: 717px;
	background: url(../img/contacts.jpg) no-repeat center;
	background-size: cover;
	border-radius: 30px;
}

.section__contacts::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #303030;
	opacity: .6;
	z-index: 2;
}

.section__title {
	margin-bottom: 40px;
	font-size: 55px;
	line-height: 71.5px;
}

.section__title-services {
	margin-bottom: 74px;
	font-size: 35px;
	line-height: 46px;
}

/* Projects */

.projects {
	margin-bottom: 80px;
}

.project__item {
	position: relative;
	border-radius: 30px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
	overflow: hidden;
}

.project__item::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #030615 100%);
	z-index: 1;
}

.project__preview {
	display: block;
	width: 100%;
	max-width: 1150px;
	height: 550px;
	border: 1px solid #000;
	border-radius: 30px;
	object-fit: cover;
}

.project__description {
	position: absolute;
	bottom: 50px;
	left: 50px;
	z-index: 3;
}

.project__title {
	margin-bottom: 5px;
	font-size: 35px;
	line-height: 45.5px;
}

.project__title a {
	text-decoration: none;
	color: #fff;
}

.project__title:hover {
	text-decoration: underline;
}

.project__text {
	font-size: 30px;
	line-height: 39px;
}

.projects__info {
	display: block;
	max-width: 582px;
	height: 153px;
	padding: 56px 86px;
	background-color: #fcac45;
	color: #000;
	font-size: 30px;
	line-height: 39px;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
	letter-spacing: -0.03em;
	transition: background-color .2s ease-out, color .2s ease-out, border .2s ease-out;
}

.projects__info:hover {
	border: 1px solid #fcac45;
	color: #fcac45;
	background-color: #000;
}

/* Services */

.services__item {
	margin-bottom: 137px;
}

.services__preview {
	max-width: 1150px;
	width: 100%;
	height: 200px;
	border-radius: 30px;
	object-fit: cover;
}

.services__item:last-child { 
	margin-bottom: 0;
}

.services__description {
	padding: 40px;
	position: relative;
	background-color: #191C19;
	border-radius: 30px;
}

.services__title {
	margin-bottom: 15px;
	font-size: 55px;
	line-height: 72px;
	color: #fcac45;
}

.services__text {
	width: 749px;
	font-size: 22px;
	line-height: 29px;
}

/* Contacts */

.contacts__title {
	margin-bottom: 28px;
	font-size: 35px;
	line-height: 60px;
	position: relative;
	z-index: 10;
}

.contacts {
	position: relative;
	z-index: 10;
}

.contact__info {
	margin-bottom: 20px;
}

.contact__info:last-child {
	margin-bottom: 0;
}

.contact__link {
	font-size: 60px;
	line-height: 60px;
	text-decoration: none;
	color: #fff;
	transition: color .2s ease-out;
}

.contact__link:hover {
	color: #fcac45;
}

/* Footer */
.footer {
	position: relative;
	padding: 76px 0 24px;
	background-color: #fff;
	border-radius: 30px;
}

.footer__text {
	margin-bottom: 66px;
	font-family: 'Manrope', sans-serif;
	font-size: 22px;
	line-height: 30.5px;
	color: #000;
}

.footer__copyright {
	font-family: 'Manrope', sans-serif;
	font-size: 20px;
	line-height: 27px;
	color: rgba(0, 0, 0, .5);
}

/* Skils */

.skils {
	margin-bottom: 120px;
	position: relative;
}

.title__skils {
	margin-bottom: 104px;
}

.skils:last-child {
	margin-bottom: 0;
}

.skils__title {
	margin-bottom: 15px;
	font-size: 35px;
	line-height: 46px;
	color: #fcac45;
}

.skils::before {
	content: "";
	width: 45px;
	height: 45px;
	position: absolute;
	border-radius: 10px;
	bottom: 110%;
	left: 0;
}

.skils:nth-child(2):before {
	background: #fcac45 url(../img/skils/html.png) no-repeat center;
}

.skils:nth-child(3):before {
	background: #fcac45 url(../img/skils/js.png) no-repeat center;
}

.skils:nth-child(4):before {
	background: #fcac45 url(../img/skils/library.png) no-repeat center;
}

.skils:nth-child(5):before {
	background: #fcac45 url(../img/skils/adaptive.png) no-repeat center;
}

.skils__description {
	width: 778px;
	font-size: 22px;
	line-height: 29px;
}


/* Burger
    ========================== */

.burger {
	padding: 9px 2px;
	display: none;
	border: 0;
	background: none
	}
	
.burger__icon {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #fff;
	font-size: 0;
	color: transparent;
	position: relative;
	cursor: pointer;	
}
	
.burger__icon:before,
.burger__icon:after{
	content: "";
	width: 70%;
	height: 100%;
	position: absolute;
	left: 0;
	z-index: 1;
	background-color: #fff;
	transition: all .2s ease-in-out;
	}
	
.burger__icon:before {
	top: -8px;
	}
	
.burger__icon:after {
	bottom: -8px;
	}
 
.burger__icon.show {
	background-color: transparent;
}

.burger__icon.show::before {
	top: -50%;
	transform: rotate(-45deg);
}

.burger__icon.show::after {
	bottom: 50%;
	transform: rotate(45deg);
}


.contacts {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social {
	width: 50%;
}

.social__info {
	margin-bottom: 20px;
}

.social__info:last-child {
	margin-bottom: 0;
}

.social__title {
	margin-bottom: 28px;
	font-size: 35px;
	line-height: 60px;
}




.form__container {
	padding: 30px;
	max-width: 500px;
	max-height: 100vh;
	background-color: #343434;
	box-shadow: 0 0 0 8px rgba(255, 255, 255, .1);
	border-radius: 4px;
	overflow-y: auto;
}

.form__content {
	margin: 32px 0;
	}

.modal__header {
	text-align: center;
}

.modal__title {
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	line-height: 25px;
	color: #fff;
	text-transform: uppercase;
}

.form-input {
	margin-bottom: 8px;
	padding: 12px 18px;
	display: block;
	min-width: 280px;
	font-size: 15px;
	color: #fff;
	background-color: #303030;
	border: 1px solid #424242;
	transition: border .25s ease-in;
	outline: none;
	}

.form__textarea {
	min-height: 100px;
	resize: none;
}

.form-input:focus {
	border: 1px solid #636363;
}
	
/* .modal__header,
.modal__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
	} */

.modal__footer {
	text-align: center;
}

.form__button {
	display: block;
	background-color: #f57500;
	border: 1px solid #f57500;
	color: #fff;
	display: inline-block;
	font-size: 10px;
	font-weight: 800;
	letter-spacing: 2px;
	padding: 14px 26px;
	border-radius: 10px;
	text-transform: uppercase;
	transition: background-color .2s ease-in, border .2s ease-in;
}

.form__button:hover {
	background-color: #343434;
}


	
	
	
	