@import url(styles/header.css);
@import url(styles/nav.css);
@import url(styles/burger.css);
@import url(styles/projects.css);
@import url(styles/skills.css);
@import url(styles/services.css);
@import url(styles/contacts.css);
@import url(styles/footer.css);

*,
*::before,
*::after {
	box-sizing: border-box; 
}

body {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	color: #fff;
	background-color: #000;
}

body.no-scroll {
	overflow: hidden;
}

p, h1, h2, h3 {
	letter-spacing: -0.03em;
}

/* Container */

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1183px;
	width: 100%;
}

/* Section */

.section {
	padding-bottom: 150px;
}

.section:first-child {
	padding: 150px 0;
}

.section__contacts {
	/* padding: 100px; */
	position: relative;
	width: 100%;
	height: 717px;
	background: url(../img/contacts.jpg) no-repeat center;
	background-size: cover;
	border-radius: 30px;
}

.section__contacts::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #303030;
	opacity: .6;
	z-index: 2;
	border-radius: 30px;
}

.section__title {
	margin-bottom: 40px;
	font-size: 55px;
	line-height: 71.5px;
}

.section__skills-title {
	margin-bottom: 104px;
}

.section__services-title {
	margin-bottom: 74px;
	font-size: 35px;
	line-height: 46px;
}








	
	
	
	
