.projects {
	margin-bottom: 80px;
}

.project__item {
	position: relative;
	border-radius: 30px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
	overflow: hidden;
	border: 3px solid #000;
}

.project__item::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #030615 100%);
	z-index: 1;
	border-radius: 25px;
}

.project__preview {
	display: block;
	width: 100%;
	max-width: 1150px;
	height: 550px;
	/* border-radius: 30px; */
	object-fit: cover;
	transition: 1s all;
	overflow: hidden;
}

.project__item:hover .project__preview {
	transform: scale(1.05);
}

.project__label {
	padding: 10px 20px;
	position: absolute;
	top: 50px;
	left: 45px;
	z-index: 5;
	display: block;
	background-color: #fb8111;
	font-size: 20px;
	line-height: 27px;
	border-radius: 100px;
}

.project__description {
	position: absolute;
	bottom: 50px;
	left: 50px;
	z-index: 5;
}

.project__title {
	margin-bottom: 5px;
	font-size: 35px;
	line-height: 45.5px;
	text-decoration: none;
	color: #fff;
}

.project__title:hover {
	text-decoration: underline;
}

.project__title-link {
	text-decoration: none;
	color: #fff;
}

.project__title-link:focus {
	outline: none;
	text-decoration: underline;
}

.project__text {
	font-size: 30px;
	line-height: 39px;
}

.project__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.projects__info {
	display: block;
	padding: 56px 86px;
	background-color: #fb8111;
	color: #fff;
	font-size: 30px;
	line-height: 39px;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
	letter-spacing: -0.03em;
	transition: background-color .2s ease-out, color .2s ease-out, border .2s ease-out;
}

.projects__info:hover,
.projects__info:focus,
.projects__info:active {
	outline: none;
	border: 1px solid #fb8111;
	color: #fb8111;
	background-color: #000;
}


